[submodule "blazorazure/mslearn-staticwebapp-dotnet"]
	path = blazorazure/mslearn-staticwebapp-dotnet
	url = https://github.com/MicrosoftDocs/mslearn-staticwebapp-dotnet.git
[submodule "mslearn-improve-api-developer-experience-with-swagger"]
	path = mslearn-improve-api-developer-experience-with-swagger
	url = https://github.com/MicrosoftDocs/mslearn-improve-api-developer-experience-with-swagger
