[submodule "mslearn-staticwebapp-dotnet"]
	path = mslearn-staticwebapp-dotnet
	url = https://github.com/hkrsmk/mslearn-swagger.git
[submodule "mslearn-improve-api-developer-experience-with-swagger"]
	path = mslearn-improve-api-developer-experience-with-swagger
	url = https://github.com/MicrosoftDocs/mslearn-improve-api-developer-experience-with-swagger
